<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MYDownLoadDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B427CC3E1D6D8D50007335CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B427CC571D6D8D50007335CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B427CC621D6D8D50007335CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
